<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gerritter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gerritter.Properties.Settings>
            <setting name="CygwinBinDirectory" serializeAs="String">
                <value>C:\cygwin\bin\</value>
            </setting>
            <setting name="GerritHostName" serializeAs="String">
                <value>gerrit.example.com</value>
            </setting>
            <setting name="GerritPort" serializeAs="String">
                <value>29418</value>
            </setting>
        </Gerritter.Properties.Settings>
    </userSettings>
</configuration>